@model PatientMedicalData
@{ Layout = "~/Views/Shared/_Layout.cshtml";
 ViewBag.Title = "Add a PatientMedicalData";}
    <link rel="stylesheet" type="text/css" href="~/css/site.css">
<h2>Add a PatientMedicalData <a asp-action="Index" class="btn btn-sm btn-secondary">Back</a></h2>
<form asp-action="AddPatientMedicalData" method="post">
    <div class="form-group">
        <label for="PatientMedicalDataName">PatientMedicalDataName:</label>
        <input class="form-control" name="PatientMedicalDataName" />
    </div>
    <div class="form-group">
        <label for="PatientMedicalDataValue">PatientMedicalDataValue:</label>
        <input class="form-control" name="PatientMedicalDataValue" />
    </div>
    <div class="form-group">
        <label for="PatientMedicalDataDateTime">PatientMedicalDataDateTime:</label>
        <input class="form-control" name="PatientMedicalDataDateTime" />
    </div>
    <div class="form-group">
        <label for="isVitalSign">isVitalSign:</label>
        <input type="checkbox" value="true" class="form-control" name="isVitalSign" />
        <input type="hidden" value="false" class="form-control" name="isVitalSign" />
    </div>
    <div class="form-group">
        <label for="PatientID">PatientID:</label>
        <input class="form-control" name="PatientID" />
    </div>
    <div class="text-center panel-body">
        <button type="submit" class="btn btn-sm btn-primary">Add</button>
    </div>
</form>

@if (Model != null)
{
    <h2>PatientMedicalData</h2>
    <table class="table table-sm table-striped table-bordered m-2">
        <thead><tr><th>ID</th><th>Name</th><th>Value</th><th>Time</th><th>Vital Sign</th><th>Patient ID</th></tr></thead>
        <tbody>
            <tr>
                <td>@Model.PatientMedicalDataID</td>
                <td>@Model.PatientMedicalDataName</td>
                <td>@Model.PatientMedicalDataValue</td>
                <td>@Model.PatientMedicalDataDatetime</td>
                <td>@Model.isVitalSign</td>
                <td>@Model.PatientID</td>
            </tr>
        </tbody>
    </table>
}