
@{ Layout = "_Layout"; ViewBag.Title = "All Activity Types";}

@model Consumer.ModelObjects.PaginatedList<Consumer.Models.ActivityCategory>

@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}
<link rel="stylesheet" type="text/css" href="~/css/site.css">
<h2>List Of Activity Category</h2>
<br />
<br />
<br />
<p>
    <a asp-action="addCat" class="btn btn-sm btn-secondary"><i class="fa fa-plus"></i>   Add Category</a>
</p>
<br />
<br />
<table class="tableActivityCat">
    <thead>
        <tr class="tableACTr">
            <th class="tableALTh">
                <a asp-action="ActCatPost" asp-route-sortOrder="@ViewData["ActivityCategoryNameParm"]">@Html.DisplayNameFor(model => model.FirstOrDefault().ActivityCategoryName)</a>
            </th>
            <th class="tableALTh">
                <a asp-action="ActCatPost" asp-route-sortOrder="@ViewData["ActivityCategoryDescriptionParm"]">@Html.DisplayNameFor(model => model.FirstOrDefault().ActivityCategoryDescription)</a>
            </th>
            <th class="tableACTh">Update</th>
            <th class="tableACTh">Delete</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr class="tableACTr">
                <td class="tablALTd">
                    @Html.DisplayFor(modelItem => item.ActivityCategoryName)
                </td>
                <td class="tablALTd">
                    @Html.DisplayFor(modelItem => item.ActivityCategoryDescription)
                </td>
                <td class="tablACTd">
                    <a asp-action="updateCat" asp-route-id="@item.ActivityCategoryID" class="btnEdit" value="@item.ActivityCategoryID"><i class="fa fa-sync"></i> Update</a>

                </td>

                <td class="tablACTd">
                    <a asp-action="DeleteCat" asp-route-id="@item.ActivityCategoryID" class="btnEdit" onclick="return('Are you sure you want to delete this record?')"><i class="fa fa-times"></i> Delete</a>


                </td>
            </tr>
        }
    </tbody>
</table>


<a style="color:black" asp-action="ActCatPost"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-pageNumber="@(Model.PageIndex - 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-default @prevDisabled">
    Previous
</a>
<a style="color:black" asp-action="ActCatPost"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-pageNumber="@(Model.PageIndex + 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-default @nextDisabled">
    Next
</a>